@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.hidden {
  display: none;
}

img {
  width: 40px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Inter";
}
body .application {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.close-screen {
  background: rgb(20, 19, 19) !important;
}
.close-screen .app-container, .close-screen .nav {
  display: none;
}

.iphone-frame {
  height: 500px;
  position: relative;
  background: #000;
  width: 260px;
  border: 5px solid #666;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 0px #333;
          box-shadow: 0px 0px 0px 0px #333;
}
.iphone-frame .line {
  position: absolute;
  right: 38%;
  top: 0px;
  height: 5px;
  width: 60px;
  z-index: 10;
  border-radius: 10px;
  border: 0.03em solid rgba(51, 51, 51, 0.479);
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(51, 51, 51, 0.71);
          box-shadow: inset 0px 0px 1px 1px rgba(51, 51, 51, 0.71);
}
.iphone-frame .inner {
  overflow: hidden;
  background: url(../images/phone-background-3.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0px;
  border-radius: 30px;
  border: 10px solid #000;
}
.iphone-frame .button {
  position: absolute;
  bottom: 5px;
  height: 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 90px;
  left: 50%;
  z-index: 102;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.iphone-frame .btn {
  position: absolute;
  cursor: pointer;
  top: 110px;
  left: -7px;
  width: 3px;
  height: 26px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: radial-gradient(#ccd, #666, #222);
  z-index: 10;
}
.iphone-frame .btn2 {
  top: 160px;
  width: 3px;
  height: 40px;
}
.iphone-frame .btn3 {
  top: 210px;
  width: 3px;
  height: 40px;
}
.iphone-frame .rightSideBtn {
  cursor: pointer;
  position: absolute;
  top: 170px;
  right: -7px;
  width: 3px;
  height: 70px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: radial-gradient(#ccd, #666, #222);
  z-index: 10;
}
.iphone-frame .norch {
  position: absolute;
  top: 5px;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 22px;
  width: 80px;
  background-color: #000;
  border-radius: 50px;
}
.iphone-frame .norch .rounded {
  position: relative;
}
.iphone-frame .norch .rounded ::before {
  content: "";
  position: absolute;
  background-color: #e2b64f;
  top: 10px;
  z-index: 1;
  height: 20px;
  width: 20px;
  border-top-right-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px -10px 0px 0px #000;
          box-shadow: 1px -10px 0px 0px #000;
}
.iphone-frame .norch .rounded ::after {
  content: "";
  position: absolute;
  top: 0;
  height: 20px;
  width: 20px;
  border-top-left-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px -10px 0px 0px #000;
          box-shadow: 0px -10px 0px 0px #000;
}
.iphone-frame .norch ::before {
  content: "";
  position: absolute;
  right: 7px;
  top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  border: 0.03em solid rgba(51, 51, 51, 0.479);
  -webkit-box-shadow: inset 0px 0px 3px 2px rgba(51, 51, 51, 0.71);
          box-shadow: inset 0px 0px 3px 2px rgba(51, 51, 51, 0.71);
}
.iphone-frame .norch ::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 9px;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background-color: rgb(42, 78, 55);
  border: 3px solid #070a14;
}
.iphone-frame .lock-screen {
  z-index: 1;
  position: absolute;
  top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
  left: 0;
  height: 0%;
  width: 100%;
}
.iphone-frame .lock-screen .time {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50px;
  width: 100%;
  text-align: center;
}
.iphone-frame .lock-screen .time h1 {
  font-size: 50px;
  height: 60px;
  color: rgba(255, 255, 255, 0.829);
}
.iphone-frame .lock-screen .time span {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.829);
}
.iphone-frame .lock-screen .scr-lock-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.iphone-frame .lock-screen .scr-lock-nav button {
  margin: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  border: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.452);
}
.iphone-frame .lock-screen .scr-lock-nav button img {
  width: 24px;
  margin-left: auto;
  margin-right: auto;
}
.iphone-frame .lock-screen .scr-lock-nav .r-deg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.iphone-frame .lock-screen .open-button {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  font-weight: bold;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}
.iphone-frame .lock-screen.active {
  height: 100% !important;
  -webkit-transition: 1s;
  transition: 1s;
}
.iphone-frame .hidden {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}
.iphone-frame .application-menu {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
}
.iphone-frame .application-menu .wrapper {
  height: 100vh;
  width: 100%;
  background-color: #25283d;
  position: absolute;
  font-family: "Inter", sans-serif;
  float: left;
}
.iphone-frame .application-menu .wrapper #clock {
  width: 200px;
  height: 200px;
  background: #25283d;
  border: 18px solid #1e213a;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  -webkit-box-shadow: inset 0 5px 25px rgba(0, 0, 0, 0.5019607843), 0 5px 25px rgba(0, 0, 0, 0.5019607843), 0 5px 30px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843);
          box-shadow: inset 0 5px 25px rgba(0, 0, 0, 0.5019607843), 0 5px 25px rgba(0, 0, 0, 0.5019607843), 0 5px 30px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843), 0 5px 35px rgba(0, 0, 0, 0.5019607843);
}
.iphone-frame .application-menu .wrapper #clock li {
  list-style: none;
  position: absolute;
}
.iphone-frame .application-menu .wrapper #clock .numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
}
.iphone-frame .application-menu .wrapper #clock .numbers span {
  display: block;
  color: #dbe7fd;
  font-size: 18px;
  text-shadow: 0 5px 18px rgba(0, 0, 0, 0.1490196078), 0 2px 3px rgba(0, 0, 0, 0.2);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(1) span {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(2) span {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(3) span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(4) span {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(5) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(5) span {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(6) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(6) span {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(7) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(7) span {
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(8) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(8) span {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(9) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(9) span {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(10) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(10) span {
  -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(11) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(11) span {
  -webkit-transform: rotate(-330deg);
          transform: rotate(-330deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(12) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.iphone-frame .application-menu .wrapper #clock .numbers:nth-child(12) span {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.iphone-frame .application-menu .wrapper #clock #second {
  width: 100%;
  height: 100%;
  -webkit-animation: sec 60s steps(60, end) infinite;
          animation: sec 60s steps(60, end) infinite;
}
.iphone-frame .application-menu .wrapper #clock #second::after {
  content: "";
  width: 4px;
  height: 80px;
  border-radius: 2px;
  background: #fd2e62;
  position: absolute;
  left: 49.5%;
  top: 65px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1490196078);
}
.iphone-frame .application-menu .wrapper #clock #minute {
  width: 100%;
  height: 100%;
  -webkit-animation: sec 3600s steps(60, end) infinite;
          animation: sec 3600s steps(60, end) infinite;
}
.iphone-frame .application-menu .wrapper #clock #minute::after {
  content: "";
  width: 5px;
  height: 75px;
  border-radius: 4px 4px 2px 2px;
  background: #bed4fd;
  position: absolute;
  left: 60.5%;
  top: 22%;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  -webkit-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1490196078);
          box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1490196078);
}
.iphone-frame .application-menu .wrapper #clock #hour {
  width: 100%;
  height: 50px;
  -webkit-transform: rotate(120px);
          transform: rotate(120px);
}
.iphone-frame .application-menu .wrapper #clock #hour::after {
  content: "";
  width: 6px;
  height: 60px;
  border-radius: 6px 6px 3px 3px;
  background: rgba(7, 243, 223, 0.7058823529);
  position: absolute;
  left: 49%;
  top: 70%;
  -webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1490196078);
}
@-webkit-keyframes sec {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes sec {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.iphone-frame .application-menu .wrapper .back-menu {
  color: #fff;
  bottom: -180px;
  left: -20px;
  background-color: rgba(255, 255, 255, 0.1568627451);
  border-radius: 10%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.iphone-frame .application-menu .wrapper .back-menu:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.4823529412);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.228);
          box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.228);
}
.iphone-frame .application-menu .wrapper #clock::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  left: -18px;
  top: -10px;
  border: 18px solid #ccc;
  border-radius: 50%;
  z-index: -2;
}
.iphone-frame .application-menu .wrapper #clock::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #c7d8f8;
  position: absolute;
  border-radius: 50%;
  left: 45%;
  top: 45%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1490196078);
}
.iphone-frame .application-menu .alarm-program {
  height: 100vh;
  width: 100%;
  background-image: url(../images/phone-background-2.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  font-family: "Inter", sans-serif;
  float: left;
}
.iphone-frame .application-menu .alarm-program h1 {
  color: #adec43;
  text-align: center;
  margin-top: 30px;
}
.iphone-frame .application-menu .alarm-program .set-alarm-btn {
  margin-top: 40px;
  background-color: rgba(190, 212, 253, 0.4941176471);
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-left: 17px;
  border-radius: 10px;
  width: 200px;
  font-size: 24px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.iphone-frame .application-menu .alarm-program .set-alarm-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.iphone-frame .application-menu .alarm-program .set-alarm {
  margin-top: 10px;
  background-color: rgba(14, 92, 238, 0.4941176471);
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-left: 17px;
  border-radius: 10px;
  width: 200px;
  font-size: 24px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.iphone-frame .application-menu .alarm-program .set-alarm:hover {
  -webkit-box-shadow: 2px 2px 10px 1px #2452ed;
          box-shadow: 2px 2px 10px 1px #2452ed;
}
.iphone-frame .application-menu .alarm-program .control-alarm {
  position: relative;
  margin-left: 17px;
  margin-top: 10px;
}
.iphone-frame .application-menu .alarm-program .control-alarm .pause-alarm, .iphone-frame .application-menu .alarm-program .control-alarm .play-alarm {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 200px;
  height: 30px;
  border: none;
  background-color: rgba(165, 160, 160, 0.7843137255);
  border-radius: 4px;
  cursor: pointer;
}
.iphone-frame .application-menu .alarm-program .control-alarm .pause-alarm img, .iphone-frame .application-menu .alarm-program .control-alarm .play-alarm img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
}
.iphone-frame .application-menu .alarm-program .control-alarm .pause-alarm:hover {
  background-color: red;
  color: white;
}
.iphone-frame .application-menu .alarm-program .control-alarm .play-alarm:hover {
  background-color: green;
  color: #fff;
}
.iphone-frame .application-menu .alarm-program .back-alarm-menu {
  position: absolute;
  bottom: 140px;
  left: 10px;
  padding: 12px 15px;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2705882353);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.iphone-frame .application-menu .alarm-program .back-alarm-menu:hover {
  background-color: rgba(36, 83, 237, 0.2901960784);
}
.iphone-frame .application-menu .tune {
  position: relative;
  background-image: url(../images/music-background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 100px;
  overflow-x: auto;
}
.iphone-frame .application-menu .tune::-webkit-scrollbar {
  width: 10px; /* Width for vertical scrollbars */
  height: 10px; /* Height for horizontal scrollbars */
}
.iphone-frame .application-menu .tune .back-tune-app {
  position: fixed;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.653);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  bottom: 70px;
  left: 193px;
  z-index: 11;
  cursor: pointer;
}
.iphone-frame .application-menu .tune .back-tune-app:hover {
  background-color: rgba(0, 0, 0, 0.824);
}
.iphone-frame .application-menu .tune .audios {
  position: relative;
  margin-top: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.432);
          box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.432);
}
.iphone-frame .application-menu .tune .audios:hover {
  -webkit-box-shadow: 0px 0px 5px 3px orange;
          box-shadow: 0px 0px 5px 3px orange;
}
.iphone-frame .application-menu .tune audio::-webkit-media-controls-panel {
  background-image: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background-image: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.iphone-frame .application-menu .tune .title-audio {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 2;
  width: 200px;
  color: orange;
  font-weight: 600;
  font-size: 12px;
}
.iphone-frame .application-menu .tune .audio {
  margin-top: 30px;
  margin-left: 5px;
  width: 200px;
  height: 50px;
}
.iphone-frame .application-menu .app-time {
  position: absolute;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  top: 5px;
  left: 14px;
}
.iphone-frame .application-menu img {
  width: 30px;
}
.iphone-frame .application-menu .slide-1 {
  position: absolute;
  top: 45px;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  left: 0;
}
.iphone-frame .application-menu .slide-1:nth-child(2) {
  left: 300px !important;
}
.iphone-frame .application-menu .slide-1 .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.iphone-frame .application-menu .slide-1 .icon button {
  height: 40px;
  cursor: pointer;
  width: 40px;
  font-size: 25px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: 0;
  line-height: 20px;
  border-radius: 10px;
}
.iphone-frame .application-menu .slide-1 .icon label {
  font-size: 8px;
  margin-top: 2px;
  color: #fff;
}
.iphone-frame .application-menu .applications {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  height: 100%;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.iphone-frame .application-menu .icon-sect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.iphone-frame .application-menu .icon-sect .icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.iphone-frame .application-menu .icon-sect .icon:hover button {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.iphone-frame .application-menu .icon-sect .icon:hover button {
  -webkit-box-shadow: 0px 0px 5px 1px rgb(176, 178, 174);
          box-shadow: 0px 0px 5px 1px rgb(176, 178, 174);
}
.iphone-frame .application-menu .icon-sect .camera {
  background-color: #b2b1c3;
}
.iphone-frame .application-menu .icon-sect .facetime {
  background-color: rgb(109, 236, 67);
}
.iphone-frame .application-menu .icon-sect .mail {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2452ed), to(#3e93d7));
  background-image: linear-gradient(#2452ed, #3e93d7);
}
.iphone-frame .application-menu .icon-sect .ibook {
  background-color: #d69c02;
  color: #fff;
}
.iphone-frame .application-menu .icon-sect .itunestore {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c000cb), to(#9d0df9));
  background-image: linear-gradient(#c000cb, #9d0df9);
}
.iphone-frame .application-menu .icon-sect .apple-tv {
  background-color: #111713;
}
.iphone-frame .application-menu .icon-sect .home {
  background-color: #fff;
}
.iphone-frame .application-menu .icon-sect .health {
  background-color: #fff;
}
.iphone-frame .application-menu .icon-sect .phone-log {
  background-color: #9ff327 !important;
}
.iphone-frame .application-menu .icon-sect .music {
  background-color: #c93b44;
}
.iphone-frame .application-menu .icon-sect .message {
  background-color: #adec43;
}
.iphone-frame .application-menu .icon-sect .appstore {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a80d2), to(#254fb8));
  background-image: linear-gradient(#4a80d2, #254fb8);
}
.iphone-frame .application-menu .icon-sect .facebook-app {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a80d2), to(#254fb8));
  background-image: linear-gradient(#4a80d2, #254fb8);
}
.iphone-frame .application-menu .icon-sect .xbox-app {
  background-color: green;
}
.iphone-frame .application-menu .icon-sect .playstation-app {
  background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(#000));
  background-image: linear-gradient(blue, #000);
}
.iphone-frame .application-menu .icon-sect .bi-spotify {
  background-color: rgb(14, 13, 13);
}
.iphone-frame .application-menu .icon-sect .messenger-app {
  background-color: rgb(47, 47, 253);
  position: relative;
}
.iphone-frame .application-menu .icon-sect .messenger-app::before {
  content: "5";
  height: 15px;
  width: 15px;
  font-family: "Inter", sans-serif;
  border-radius: 50%;
  background-color: rgb(226, 4, 4);
  color: #fff;
  font-weight: bolder;
  position: absolute;
  top: -5px;
  right: -5px;
  line-height: 15px;
  font-size: 8px;
}
.iphone-frame .application-menu .icon-sect .instagram-app {
  background-image: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background-image: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.iphone-frame .application-menu .icon-sect .twitter-app {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4083e9), to(#376bee));
  background-image: linear-gradient(#4083e9, #376bee);
}
.iphone-frame .application-menu .icon-sect .whatsapp-app {
  background-color: rgb(4, 180, 4);
}
.iphone-frame .application-menu .icon-sect .pinterest-app {
  background-color: rgb(253, 36, 36);
}
.iphone-frame .application-menu .icon-sect .github-app {
  background-color: #fff;
}
.iphone-frame .application-menu .icon-sect .youtube-app {
  background-color: #fff;
}
.iphone-frame .application-menu .icon-sect .snapchat-app {
  background-color: rgb(214, 214, 25);
}
.iphone-frame .application-menu .icon-sect .translator-app {
  background-color: #2452ed;
}
.iphone-frame .application-menu .icon-sect .calculator-app {
  background-color: #9ff327;
}
.iphone-frame .application-menu .icon-sect .alarm-app {
  background-color: #fff;
}
.iphone-frame .application-menu .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 80px;
  height: 10px;
  width: 30px;
  left: 50%;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.iphone-frame .application-menu .indicators span {
  height: 6px;
  width: 6px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
}
.iphone-frame .application-menu .indicators span.active-screen {
  background-color: #fff;
}
.iphone-frame .application-menu .active-slide {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}
.iphone-frame .application-menu .animation-lock-screen {
  height: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
}
.iphone-frame .application-menu .bottom-navigation {
  position: absolute;
  bottom: 10px;
  width: 220px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 0px;
  margin: 10px;
  border-radius: 13px;
  padding: 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.244);
}
.iphone-frame .application-menu .bottom-navigation .bottom-app {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 40px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.iphone-frame .application-menu .bottom-navigation .bottom-app.music {
  background-color: #c93b44;
}
.iphone-frame .application-menu .bottom-navigation .message {
  background-color: #adec43;
}
.iphone-frame .application-menu .bottom-navigation .phone-logo {
  background-color: #9ff327 !important;
}
.iphone-frame .application-menu .bottom-navigation .appstore {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a80d2), to(#254fb8));
  background-image: linear-gradient(#4a80d2, #254fb8);
}
.iphone-frame .application-menu .bottom-navigation .bottom-app:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 5px 1px rgb(176, 178, 174);
          box-shadow: 0px 0px 5px 1px rgb(176, 178, 174);
}
.iphone-frame .application-menu.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

.nav {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 30px;
  left: 0;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .right {
  padding-right: 15px;
}
.nav .right img {
  width: 14px;
}